@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Shadcn light mode colour theme */
  --background: oklch(1 0 0); /* neutral-50 */
  --foreground: oklch(0.145 0 0); /* neutral-800 */
  --card: oklch(1 0 0); /* neutral-50 */
  --card-foreground: oklch(0.145 0 0); /* neutral-800 */
  --popover: oklch(1 0 0); /* neutral-50 */
  --popover-foreground: oklch(0.145 0 0); /* neutral-800 */
  --primary: oklch(0.205 0 0); /* teal-500 */
  --primary-foreground: oklch(0.985 0 0); /* neutral-100 */
  --secondary: oklch(0.97 0 0); /* neutral-200 */
  --secondary-foreground: oklch(0.205 0 0); /* neutral-700 */
  --muted: oklch(0.97 0 0); /* neutral-200 */
  --muted-foreground: oklch(0.556 0 0); /* neutral-500 */
  --accent: oklch(0.97 0 0); /* neutral-200 */
  --accent-foreground: oklch(0.205 0 0); /* neutral-700 */
  --destructive: oklch(0.577 0.245 27.325); /* red-500 */
  --destructive-foreground: oklch(0.637 0.237 25.331); /* red-500 */
  --border: oklch(0.922 0 0); /* neutral-300 */
  --input: oklch(0.922 0 0); /* neutral-300 */
  --ring: oklch(0.708 0 0); /* neutral-400 */
  --chart-1: oklch(0.646 0.222 41.116); /* sky-500 */
  --chart-2: oklch(0.6 0.118 184.704); /* sky-50 */
  --chart-3: oklch(0.398 0.07 227.392); /* indigo-500 */
  --chart-4: oklch(0.828 0.189 84.429); /* indigo-50 */
  --chart-5: oklch(0.769 0.188 70.08); /* fuchsia-500 */
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0); /* neutral-100 */
  --sidebar-foreground: oklch(0.145 0 0); /* neutral-800 */
  --sidebar-primary: oklch(0.205 0 0); /* neutral-700 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* neutral-100 */
  --sidebar-accent: oklch(0.97 0 0); /* neutral-200 */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* neutral-700 */
  --sidebar-border: oklch(0.922 0 0); /* neutral-300 */
  --sidebar-ring: oklch(0.708 0 0); /* neutral-400 */

  /* Additional colour theming */
  --chart-6: oklch(0.977 0.017 320.058); /* fuchsia-50 */
  --sky-primary: oklch(0.685 0.169 237.323); /* sky-500 */
  --sky-secondary: oklch(0.977 0.013 236.62); /* sky-50 */
  --indigo-primary: oklch(0.585 0.233 277.117); /* indigo-500 */
  --indigo-secondary: oklch(0.962 0.018 272.314); /* indigo-50 */
  --fuchsia-primary: oklch(0.667 0.295 322.15); /* fuchsia-500 */
  --fuchsia-secondary: oklch(0.977 0.017 320.058); /* fuchsia-50 */
  --amber-primary: oklch(0.769 0.188 70.08); /* amber-500 */
  --amber-secondary: oklch(0.987 0.022 95.277) /* amber-50 */;
}

.dark {
  /* Shadcn dark mode colour theme */
  /* No dark mode in the app */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* Completely disable the default theme and use only custom values to ensure design accuracy - before you add a colour to this please confirm it is in the Figma design! */
  --*: initial;

  /* Shadcn colour theme tokens */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Additional colour theme tokens */
  --color-chart-6: var(--chart-6);
  --color-sky-primary: var(--sky-primary);
  --color-sky-secondary: var(--sky-secondary);
  --color-indigo-primary: var(--indigo-primary);
  --color-indigo-secondary: var(--indigo-secondary);
  --color-fuchsia-primary: var(--fuchsia-primary);
  --color-fuchsia-secondary: var(--fuchsia-secondary);
  --color-amber-primary: var(--amber-primary);
  --color-amber-secondary: var(--amber-secondary);

  /* Customised tailwind design tokens */
  --font-body: "Inter";
  --text-xxs: 10px;
  --text-xxs--line-height: 16px;
  --text-xs: 12px;
  --text-xs--line-height: 18px;
  --text-sm: 13px;
  --text-sm--line-height: 20px;
  --text-base: 14px;
  --text-base--line-height: 22px;
  --text-lg: 16px;
  --text-lg--line-height: 20px;
  --text-xl: 20px;
  --text-xl--line-height: 24px;
  --text-2xl: 24px;
  --text-2xl--line-height: 30px;
  --text-3xl: 32px;
  --text-3xl--line-height: 40px;

  /* Standard tailwind design tokens */
  --spacing: 0.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --font-weight-semibold: 600;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;
  --aspect-video: 16 / 9;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-body;
  }
  body {
    @apply bg-gradient-to-r from-background to-muted text-foreground text-base h-screen;
  }
  main {
    @apply h-full;
  }
}
